body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: purple;
  background-color: rgb(37, 0, 31);

}


h1 {
  color: deeppink;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  color: orangered;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav {
  background-color: #a0d2eb;
  color: deepskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  float: left;
  margin: 0 20px;

}

nav ul li a {
  text-decoration: none;
}

nav ul li a:active {
  background-color: black;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

section {
  padding: 50px;
  text-align: center;
}

section#home {
  background-color: #e5eaf5;
  background-image: "D:\bids wp images\IMG_6682.JPG";
  border-collapse: collapse;
}

section#about {
  background-color: #d0bdf4;
  text-align: left;
}

section#projects {
  text-align: left;
  text-decoration: wavy;
  background-color: #8458B3;

}

.input {
  text-align: center;
}

button {
  height: 8vh;
  width: 14vw;
  font-size: 20px;
  background: white;
  border: 2px solid blue;
}

button:hover{
  background-color: blue;
  color: white;
}

#foot {
  text-align: center;
  background-color: black;
  color: white;
}

/* Below is the code for Animation */

.title-word {
  animation: color-animation 1.5s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 60vh;
  background-color: #e5eaf5;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}